{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}

                <section class="color-contact">
                    <div class="container">
                        <article class="contact columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                                    <div class="content column">
                                            <h3 class="title has-text-centered">
                                            Contact :
                                            </h3>
                                            <p class="has-text-centered">
                                            Pour plus d'informations à propos du site, veuillez me contacter à l'adresse suivante :
                                            </p>
                                            <p class="has-text-centered">mathilde.chaneto@gmail.com</p>

                                    </div>
                        </article>
                    </div>
                </section>

            
            </div>
            {{ include('main/footer.html.twig') }}

        
    </section>


{% endblock %}

