{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}

                <section class="color-create">
                    <div class="container">
                        <form method="POST" action="">
                        
                            <h2 class="title has-text-centered">Your quiz</h2>

                                <!--<div class="field">
                                <label class="label">Add theme</label>
                                    <p class="control has-icons-left has-icons-right">
                                        <input class="input" type="text" placeholder="Mon quiz">
                                        <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                        </span>
                                    </p>
                                </div>

                                 <div class="field">
                                <p class="control">
                                    <button class="button button-green">Submit</button>
                                </p>
                                </div>-->

                               <p>Add questions</p>

                             <div class="dropdown is-active">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                    <span>Click me</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                                    <div class="dropdown-content">
                                    <a href="#" class="dropdown-item is-active">
                                        Overview
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Modifiers
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Grid
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Form
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Elements
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Components
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Layout
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item">
                                        More
                                    </a>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <p>Mon quiz:  0 questions</p>
                            </div>

                        </form>
                    


                        <div class="content column add">

                            <h3 class="title">
                                Question n°1 :
                            </h3>
                                <p> 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br> 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                </p>  

                                <div class="field">
                                    <p class="control add">
                                        <button class="button button-orange">Next</button>
                                    </p>
                                </div>

                                 <h3 class="title">
                                Question n°2 :
                            </h3>
                                <p> 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br> 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                </p>  

                                <div class="field">
                                    <p class="control add">
                                        <button class="button button-orange">Next</button>
                                    </p>
                                </div>

                                 <h3 class="title">
                                Question n°3 :
                            </h3>
                                <p> 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br> 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                </p>  

                                <div class="field">
                                    <p class="control add">
                                        <button class="button button-orange">Next</button>
                                    </p>
                                </div>

                                 <h3 class="title">
                                Question n°4 :
                            </h3>
                                <p> 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br> 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                </p>  

                                <div class="field">
                                    <p class="control add">
                                        <button class="button button-orange">Next</button>
                                    </p>
                                </div>

                                 <h3 class="title">
                                Question n°5 :
                            </h3>
                                <p> 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br> 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                </p>  

                                <div class="field">
                                    <p class="control add">
                                        <button class="button button-orange">Next</button>
                                    </p>
                                </div>
                        </div>
                    </div>

                </section>

            <footer class="hero-footer">
                <div class="content">
                    <p class="has-text-centered"><a href="{{ path('dev-quiz_contact') }}">Contact</a></p>
                <p class="has-text-centered first"><a href="{{ path('dev-quiz_mentions-legales') }}">Mentions légales</a></p>
            <p class="has-text-centered second">Copyright 2021</p>

                </div>

            </footer>
        </div>
    </section>



{% endblock %}
