<footer>    
<a href="{{ path('dev-quiz_contact') }}">Contact</a>
<a href="{{ path('dev-quiz_mentions-legales') }}">Mentions légales</a>
<a href="{{ path('dev-quiz_credits') }}">Credits</a>
<p class="has-text-centered second">Copyright 2021</p>
 
</footer>