{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

<main>
    <section id="welcome-container">
        <h1>Accueil</h1>
         
        <article class="about">
            <h2>A propos :</h2>
            <div class="content">
                        <p>Ce site est spécialement fait à l'attention des développeurs déjà en activité ou en devenir.</p>
                        <p>Le but est de vous améliorez en tant que développeur à travers des quiz.</p>         
            </div>
            <div class="img-container">
                <figure>
                    <div class="icone">
                        <img src="/medias/terminal-48.png" alt="" >
                    </div>
                    <figcaption>
                        <span>Pratiquer</span>
                    </figcaption>
                </figure>
                <figure>
                        <div class="icone">
                            <img src="/medias/terminal-48.png" alt="" >
                        </div>
                        <figcaption>
                            <span>Apprendre</span>
                        </figcaption>
                </figure>
                <figure>
                        <div class="icone">
                            <img src="/medias/terminal-48.png" alt="" >
                        </div>
                        <figcaption>
                            <span>Progresser</span>
                        </figcaption>
                </figure>    
            </div>
            </article>

            <article class="about">
                <h2>Quiz :</h2>
                <div class="img-container">
                    <figure>
                        <div class="icone">
                            <img src="/medias/terminal-48.png" alt="" >
                        </div>
                        <figcaption>
                            <span>Quizz disponibles</span>
                                <p>Testez-vous rapidement</p>
                        </figcaption>
                    </figure>  
                    <figure>
                        <div class="icone">
                            <img src="/medias/terminal-48.png" alt="" >
                        </div>
                        <figcaption>
                            <span>Domaines divers</span>
                                <p>Comprenez votre environne-ment</p>
                        </figcaption>
                    </figure>  
                    <figure>
                        <div class="icone">
                            <img src="/medias/terminal-48.png" alt="" >
                        </div>
                        <figcaption>
                            <span>Score</span>
                                <p>Votre score par quiz</p>
                        </figcaption>
                    </figure>  
                    <figure>
                        <div class="icone">
                            <img src="/medias/code-48.png" alt="" >
                        </div>
                        <figcaption>
                            <span>Quiz personnalisé</span>
                                <p>Créez votre propre quiz</p>
                        </figcaption>
                    </figure>  
                </div>
            </article>

            <article id="demo">
                <video controls width="450">
                <source src="medias/videos/demo.mp4" type="video/mp4">
                </video>
                <h2>Demo :</h2>
            </article>
    </section>
</main>
                    {{ include('main/footer.html.twig') }}

                {% endblock %}
                