{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}


                <section class="color">
                    <div class="container">
                        <article class="article-left columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                                <figure class="media-right column">
                                    <img src="/image/dev.jpg"/ alt="">
                                </figure>
                                    <div class="content column">
                                            <h3 class="title is-size-3">
                                                Mentions légales
                                            </h3>

                                    </div>


                        </article>
                    </div>
                </section>
         


                    
            </div>
            {{ include('main/footer.html.twig') }}

        
    </section>



{% endblock %}
