{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <section class="color">
        <div class="container">
            <article class="article-left columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                    <div class="content column-plus">
                        <h3 class="title is-size-3">
                            Mentions légales :                                             
                        </h3>

                        <h4 class="title is-size-4">
                            Editeur :                                          
                        </h4>

                        <ul class="mention-legale">
                            <li>
                              Le site  https://dev-quiz.geek-taku.fr est édité par Mathilde CHANE-TO
                            </li>

                            <li>
                               Adresse : 24 Avenue de Paris, 92320 Châtillon
                            </li>

                            <li>
                               Tél : + 33 (0) 7 69 49 20 18
                             </li>
                        </ul>

                        <h4 class="title is-size-4">
                            Hébergeur :                                     
                        </h4>

                        <ul class="mention-legale">

                        <li>
                            Ce site est hébergé par Hécate REGNIER
                        </li>

                        <li>
                            Adresse : 24 Avenue de Paris, 92320 Châtillon
                         </li>

                         <li>
                            Tél : + 33 (0) 6 52 49 52 94
                          </li>

                    </div>

                </article>
            </div>
        </section>

    </div>
    {{ include('main/footer.html.twig') }}

</section>{% endblock %}