{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}

                <section class="color-quiz">
                    <div class="container">
                        <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                                    <div class="content column">
                                            <h3 class="title">
                                                About :
                                            </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br> 
                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                            </p>
                                    </div>
                        </article>
                    </div>
                </section>

                <section class="color-quiz">
                    <div class="container">
                        <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                                    <div class="content column">
                                            <h3 class="title">
                                                Questions :
                                            </h3>
                                    
                                    <div class="content column is-flex is-flex-wrap-wrap">
                                            <button class="button is-active button-orange column is-flex is-align-items-center">
                                                <p>Question 1 </p>
                                            </button>
                                            <button class="button button-orange column is-flex is-align-items-center">
                                                <p>Question 2 </p>
                                            </button>
                                            <button class="button button-orange column is-flex is-align-items-center">
                                                <p>Question 3 </p>
                                            </button>
                                            <button class="button button-orange column is-flex is-align-items-center">
                                                <p>Question 4 </p>
                                            </button>
                                            <button class="button button-orange column is-flex is-align-items-center">
                                                <p>Question 5 </p>
                                            </button>
                                        </div>
                                    </div>
                                          
                        </article>
                    </div>
                </section>

                <section class="color-quiz">
                    <div class="container">
                        <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                                    <div class="content column">
                                        <form method="GET" action="">
                                            <h3 class="title">
                                                Question n°1 :
                                            </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br> 
                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                            </p>

                                            <label class="checkbox column">
                                            <input type="checkbox">
                                            Answer 1
                                            </label>
                                            <label class="checkbox column">
                                            <input type="checkbox">
                                            Answer 2
                                            </label>
                                            <label class="checkbox column">
                                            <input type="checkbox">
                                            Answer 3
                                            </label>
                                       
                                            <div class="field">
                                            <p class="control validate">
                                                <button class="button button-green">Validate</button>
                                            </p>
                                           <!--<p class="control validate">
                                                <button class="button button-orange">Next</button>
                                            </p>-->
                                            </div>

                                          
                                            <!--<div class="content column answer">
                                                <p class="subtitle">Good answer</p>

                                                <h4 class="title">INFO +</h4>
                                                <p>
                                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br> 
                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. </br> 
                                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                </p>
                                            
                                            </div>
                                            
                                            
                                            -->

                                        </form>
                                    </div>
                        </article>
                    </div>
                </section>

             <footer class="hero-footer">
                <div class="content">
                    <p class="has-text-centered"><a href="{{ path('dev-quiz_contact') }}" class="has-text-white">Contact</a></p>
                </div>

            </footer>

        </div>
    </section>



{% endblock %}
