/*html, .hero, .hreo-body and body*/

/*
set html and body for the content take
all available space in browser
*/

html, body {
    min-height: 100vh;
    width: 100%;
}

.hero {
    background-color: #212121;
    width: 100%;
}

.hero-body {
    padding: 0;
}
/*end html, .hero, .hero-body and body*/


/* start nav*/
.hero .navbar, .navbar-brand {
    background-color: black;
    align-items: center;
}

.navbar-brand {
    justify-content: space-between;
}

#navbarBasic, .navbar-brand, footer {
    height: 5rem;
}

.image {
    margin-right: 1rem;
}

.is-rounded {
    border : 1px solid wheat;
}



#navbarBurger {
    background-color: black; 
}

#navbarBurger > .navbar-start > .navbar-item .buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 0;
    margin-bottom: 1.5rem;
}

.navbar-burger {
    margin-left: 0;

}

.container>.navbar #navbarBasic {
    margin-right: 1rem;
}

.navbar {
    background-color: black;
}

.navbar-end > a {
    margin-right: 1rem;
}

#navbarBasic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbarBasic > .navbar-end > .navbar-item .buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 1rem;
    
}

.navbar-item {
    margin: 1rem;
}

.navbar-item img {
    width: auto;
}

a.navbar-item:hover{
    background-color: unset;   
}

a.button.is-info {
    background-color: #1e88e5;
}
/* end nav*/


/*start container*/
.container {
    width: 100%;
}

.container-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
}

.container-account {
    min-width: 30%;
    max-width: 40%;
    margin: auto;
}


/*end container*/

.title {
    color: wheat;
}

.subtitle {
    color: wheat;
}

/*start global css*/
.color, .color-quiz {
    color: wheat;
}

h3.title {
    color: wheat;
}

label {
    color: wheat;
}

/*end global css*/


/*start of homepage*/
.color-contact article, .color article {
    margin-top: 4rem;
}

.color-contact .contact {
    margin-bottom: 4rem;
}

.article-right {
    padding-bottom: 4rem;
}

.article-left figure, .article-right figure {
    margin: 2rem;
}

.content li, .content p {
    font-size: 1.5rem;;
}

.content ul {
    margin-top: 3rem;
}

.content ul li {
    margin-bottom: 1.5rem;
}
/*end of homepage*/



/*start Contact page*/
.color-contact {
    color: wheat;
    margin: auto
}
/*end Contact page*/


/* start sign-up page and log in page*/
form {
    margin: 4rem auto 4rem auto;
}

.field {
    margin-top: 4rem;
}

.field .control {
    display: flex;
    justify-content: flex-end;
}

.field .control.validate {
    display: flex;
    justify-content: flex-end;
}

.button-green, .input-green {
    background-color: #004d40;
    margin: 1rem;
    border: none;
    color: white;
    font-weight: bold;
}

.field .label {
    color: wheat;
}

.control button {
    width: auto;
}

.field .control.add {
    display: flex;
    justify-content: flex-start;
}

.avatar {
    margin-top: 4rem;
}

.file {
flex-direction: column;
justify-content: flex-end;
max-width: 50%;
}

.file.is-fullwidth .file-name {
    flex-grow: 1;
    max-width: max-content;
}

.file.has-name.is-right.is-fullwidth {
    margin-top: 4rem;
    width: 50%;
}

.file.has-name.is-right.is-fullwidth p {
    margin-bottom: .5rem;
}

.avatar figure {
    margin-left: 2rem;
}

.button.is-danger > a, .button.is-danger > a:hover{
    color: white;
}



/*end sign-up page and log in page*/

/*start quiz page*/
.color-quiz .media-quiz {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.media-quiz:nth-child(1) {
    margin-top: 4rem;
}

.quiz.media-quiz {
    display: flex;
    flex-direction: column;
}

.media-quiz .content figure:nth-child(1){
    margin: 2rem;
}

.button-orange-questions, .button-orange-next {
    margin: 1rem;
}

.button-edit > a, .button >a:hover {
    color:  white;
}

.button-orange-questions, .button-edit, .button-orange-next {
    background-color: #f57c00;
    color: white;
    font-weight: bold;
    border: none;
}

#text {
    text-align: center;
}

.button:focus, .button:active {
    color: none;
}

.quiz {
    background-color: #212121;
    padding: 3rem;
}

.content.column.answer .title, .content.column.answer-content .subtitle {
    color: wheat;
}

.subtitle:not(.is-spaced)+.title{
    margin-top: 0;
}

.content.column.answer .title {
    margin-top: 3rem;
}

.none, .hidden, .answer-id {
    display: none;
}

.color-quiz.infos-plus {
    margin-bottom: 4rem;
}
/*end quiz page*/

.content.column.add {
    margin-bottom: 5rem;
}

.progres {
    margin-bottom: 0;
    height: 1rem;
    width: auto;
    border-radius: 2rem;
    background-color: cornflowerblue;
}




/*
footer
*/
.hero-footer {
    padding: 2rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-footer .content p a {
    color: wheat;
}

.hero-footer .content p {
    margin-bottom: 0;
}


/*
modify the behavior of few classes for responsive
*/
@media screen and (max-width: 768px) {

    .article-left {
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .article-right {
        flex-direction: column;
        align-items: center;
    }

    .content .title {
        text-align: center;
    }

    .field .control, .field .control.validate, .field .control.add {
        justify-content: center;
    }

    .article-left figure, .article-right figure {
        max-width: 70%;  
    }

    .content.figure {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: auto;
    }
}

@media screen and (max-width: 1023px) {
    #navbarBasic {
        display: none;
    }

}







