#To active the Url rewrite with Apache :
RewriteEngine on

#To redirect all folders and files to index.php
 RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html.twig [L]